<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form action="/register" method="POST">
            <h1>Register</h1>
            <div>
                <label for="username">Username:
                    <input type="text" name="username" placeholder="Enter username" title="TYPE your username" required>
                </label>
                <label for="password" > Password:
                    <input type="password" name="password" placeholder="Enter password" title="TYPE your password" required>
                </label>
                <label for="email">Email:
                    <input type="email" name="email" placeholder="Enter Email" title="TYPE your email address" required>
                </label>
                <button type="submit"> REGISTER </button>
            </div>
        </form>
    
        <p class="no_account">Don't have account? Login with</p>
        <a href="/login-page">Login</a>
        <p class="login_github"><a href="/githubOauth">Login github</a></p>
        <p><a href="/logout">Logout</a></p>
    </main>
    <footer>

    </footer>

    <script>
        let form = document.querySelector("form");
        form.addEventListener("submit", sendForm())

        let email = form.email.value;
        let username = form.username.value;
        let password = form.password.value;

        async function  sendForm(param){
            param.preventDefault();
            try {
                const get = await fetch("/register",{
                    method: "POST",
                    headers: {"Content-Type": "application/json"},
                    body: JSON.stringify({username, email, password})
                })

                const user = await get.json()
                console.log(user)

            } catch(error) {
                console.log(error)
            }
        }
    </script>
    
</body>
</html>