<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <header>

    </header>
    <main>
        <form action="/register" method="POST">
            <div>
                <label for="username">Username:
                    <input type="text" name="username" placeholder="Enter username" title="TYPE your username" required>
                </label>
                <label for="password" > Password:
                    <input type="password" name="password" placeholder="Enter password" title="TYPE your password" required>
                </label>
                <label for="email">Email:
                    <input type="email" name="email" placeholder="Enter Email" title="TYPE your email address" required>
                </label>
                <button type="submit"> REGISTER </button>
            </div>
        </form>
    
        <p class="no_account">Don't have account? Login with</p>
        <a href="/login">Login</a>
        <p class="login_github"><a href="/githubOauth">Login github</a></p>
        <p><a href="/logout">Logout</a></p>
    </main>
    <footer>

    </footer>
    
</body>
</html>