
<h1>Registeration</h1>
<form action="/register" method="POST">
    
    <div class="form-div">
        <label for="username">Username:
            <input type="text" id="username" name="username" placeholder="Enter username" title="TYPE your username" required>
        </label>
        <label for="password" > Password:
            <input type="password" id="password" name="password" placeholder="Enter password" title="TYPE your password" required>
        </label>
        <label for="email">Email:
            <input type="email" id="email" name="email" placeholder="Enter Email" title="TYPE your email address" required>
        </label>
        <button type="submit"> SIGN UP </button>
    </div>
</form>
<p class="no_account bold-para">Don't have account?  Login with</p>

<div class="alt-login">
    <p><a class="sign-up" href="/login-page">Login</a></p>
    <p class="login_github"><a class="github" href="/githubOauth">GitHub</a></p>
</div>

